*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    flex-flow: row wrap;
}

.color{
    background-color: white;
}
body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
  }

  header{
    width: 100%;
    padding: 20px;
    background-color: rgb(207, 101, 13);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

header .logo{
    color: white;
    font-size: 30px;
}
header .logo a{
    color: white;
    text-decoration: none;
}
header .logo img{
    width: 50px;
    vertical-align: top;
    line-height: 50px;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #333;

}

nav a{
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    
}
nav a:hover{
    background: black;
}

.con-tablero{
    width: 560px;
    height: 560px;
    margin: 40px auto;
    border-style: none;
    box-sizing: content-box;
    cursor: pointer;
    border: 1px solid black
    
}   
.con-tablero .tab-fila{
    display: flex;
}


.con-tablero .tab-fila .tab-col{
    background-color: rgb(255, 255, 255);
    width: 70px ;
    height: 70px;
    text-align: center;
    user-select: none;
    font-size: 55px;
    color:  rgb(255, 255, 255);
    text-shadow: 0px .5px rgb(255, 255, 255);
}

.con-tablero .tab-fila .black{
    background-color:  rgb(0, 0, 0);
}

.contenedor-marcador{
    display: flex;
    border: none;
    justify-content: center;
    
}

.contenedor-marcador div{
    
    width: 50px;
    margin: none;
    text-align: center;
    line-height: 65px;
    font-size: 30px;
    border: 2px solid black;
}

.player{
    background-color:  rgb(207, 101, 13);
}

.divisor-tablero{
    background-color: black;
}


footer{
    padding: 8px;
    text-align: center;
    background-color:  rgb(207, 101, 13);
    font-family: Arial, Helvetica, sans-serif;
    
}

#partidanueva {
    display: flex;
    justify-content: center;
}

  #boton-empezar-partida {
    color: white;
    background-color:  rgb(207, 101, 13);
    border-radius: 10px;
    width: 225px;
    height: 52px;
    margin-top: 20px;
    font-family: Arial;
    text-shadow: 0 0 3px #333333;
    border: 1px solid #84c5f3;
    background-image:  rgb(207, 101, 13);
    box-shadow: 0 0 8px 1px #888888;
    font-size: 21px;
    cursor: pointer;
}

@media screen and (max-width: 500px){
    nav, .row{
        flex-direction: column;
    }
}


