*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


.color{
    background-color: white;
}
body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
  }
.con-tablero{
    width: 560px;
    height: 560px;
    margin: 40px auto;
    border-style: none;
    box-sizing: content-box;
    cursor: pointer;
    border: 1px solid black
    
    
}   
.con-tablero .tab-fila{
    display: flex;
}


.con-tablero .tab-fila .tab-col{
    background-color: rgb(255, 255, 255);
    width: 70px ;
    height: 70px;
    text-align: center;
    user-select: none;
    font-size: 55px;
    color:  rgb(255, 255, 255);
    text-shadow: 0px .5px rgb(255, 255, 255);
}

.con-tablero .tab-fila .black{
    background-color:  rgb(0, 0, 0);

}
.nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(247, 247, 244);
    justify-content: start;
    padding-bottom: 10px;
}
.nav a{
    color: rgb(0, 0, 0);

}
.PieDePagina{
    background-color: rgb(230, 225, 225);
    display: block;
    border: 1px solid black;
    padding: 2px;
    margin-bottom: 3px;
}

.Boton{
    color: rgb(255, 255, 255);
    background-color: royalblue;
    width: 100px;
    height: 50px;
    font: bold 14px verdana;
}
.p1{
    font-family: Arial;
    font-size: 20px;  
}

header{
    padding: 20px;
    width: 100%;
    background-color: rgb(207, 101, 13);
    text-align: center;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

header .logo{
    color: white;
    font-size: 30px;
}
header .logo a{
    color: white;
    text-decoration: none;
}
header .logo img{
    width: 50px;
    vertical-align: top;
    line-height: 50px;
}



nav{
    display: flex;
    flex-direction: row;
    background-color: #333;

}

nav a{
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    
}
nav a:hover{
    background: black;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

footer{
    padding: 8px;
    text-align: center;
    background-color: palevioletred;
    font-family: Arial, Helvetica, sans-serif;
    
}
.nombre{
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 500px){
    nav, .row{
        flex-direction: column;
    }
}


